<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>ByteBridge</title>
</head>

<body>
    <div class="container mt-5">
        <h1><span style="color: purple;">ByteBridge</span></h1>
        <hr>

        <div class="text-right" style="margin-top: 10px;">
            <a href="/api/login/" class="btn btn-info btn-md" style="background-color: brown;">Log out</a>
        </div>

        <!-- Nav Tabs -->
        <ul class="nav nav-tabs" id="apiTabs">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#datastores">DataStore Settings</a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#buckets">Bucket Settings</a>
            </li> -->
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#upload">Upload File</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#datasets">View Datasets</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#delete_buckets">Delete Buckets</a>
            </li>
        </ul>

        <!-- Tab Content -->
        <div class="tab-content mt-3">
            <div id="datastores" class="tab-pane fade show active">
                <p><a href="/api/nc_ds_settings?owner_id={{ owner_id }}&static_path={{static_path}}" class="btn btn-primary">Go to DataStores Settings</a></p>
            </div>
            <!-- <div id="buckets" class="tab-pane fade">
                <p><a href="/api/nc_bucket_settings?owner_id={{ owner_id }}" class="btn btn-primary">Go to Buckets Settings</a></p>
            </div> -->
            <div id="upload" class="tab-pane fade">
                <p><a href="/api/upload_file?owner_id={{ owner_id }}&static_path={{static_path}}&instance_id={{instance_id}}" class="btn btn-primary">Upload File</a></p>
            </div>
            <div id="datasets" class="tab-pane fade">
                <p><a href="/api/list_datasets?owner_id={{ owner_id }}&static_path={{static_path}}" class="btn btn-primary">View Datasets</a></p>
            </div>
            <div id="delete_buckets" class="tab-pane fade">
                <p><a href="/api/delete_buckets?owner_id={{owner_id}}&static_path={{static_path}}" class="btn btn-primary">Delete Buckets</a></p>
            </div>
        </div>

    </div>
</body>
</html>
