<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <title>ByteBridge</title>
</head>

<body>
    <div class="container mt-5">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}  <!-- CSRF token for security -->
            <!-- Display username dynamically -->
            <h1><span style="color: purple; ">ByteBridge</span></h3>

            <hr>
            

            <p><a href="/api/nc_ds_settings?owner_id={{ owner_id }}">DataStores</a> </p>
            
            <p><a href="/api/nc_bucket_settings?owner_id={{ owner_id }}">Buckets</a> </p>

            <a href="/api/upload_file?owner_id={{ owner_id }}&static_path={{static_path}}&datastore_id={{datastore_id}}&{{datastore_name}}={{datastore_name}}&instance_id={{instance_id}}">Upload File</a> </p>

            <p>Want to View your Datastore? <a href="/view/">View</a> </p>
            
            <p>Want to Download files from Datastore? <a href="/download/">Download</a> </p>
            
            <p>Want to Delete delete files from Datastore? <a href="/delete/">Delete</a> </p>
        
        </form>
        <!-- Footer -->

    </div>
</body>

</html>
